@page "/Ergebnisse"
@using static FoA_DA
@rendermode InteractiveServer

<PageTitle>Ergebnisse</PageTitle>

<AuthView>
<h3>Ergebnisse</h3>

<form>
    <table>
        <tr>
            <th>Nr</th>
            <th>Abteilung</th>
            <th>Titel</th>
            <th>Schüler</th>
            <th></th>
        </tr>
    </table>
</form>
</AuthView>

@code {
    List<FoA_Voting_System> voting = new(); 
    //Ergebnisse vom Voting speichern 
}
