@page "/Ergebnisse"
@rendermode InteractiveServer
@using static FoA_DA
@using ClosedXML.Excel
@using System.Data;

<PageTitle>Ergebnisse</PageTitle>
<h3>Ergebnisse</h3>

<form>
    <table>
        <tr>
            <th>Nr</th>
            <th>Titel</th>
            <th>Schüler</th>
            <th>Count</th>
        </tr>
            @foreach((FoA_DA, int count) da in voting)
            {
                <tr>
                    <th>@da.Item1.ID</th>
                    <th>@da.Item1.Titel</th>
                    <th>@da.Item1.Schueler</th>
                    <th>@da.Item2</th>
                </tr>
            }
    </table>
    @*<button type="button" @onclick="Btn_Download">Aktuelle Ergebnisse herunterladen</button>*@
    @comment
</form>

@code {
    List<(FoA_DA, int count)> voting = new();
    private string comment ="";
    private bool isWorking = false; 

    protected override async Task OnInitializedAsync()
    {
        //Ergebnisse vom Voting speichern

        //ID | Titel | Schueler | Count
        DataTable da = DbWrapper.Wrapper.RunQuery("SELECT d.DaId, d.Titel, d.Schueler, COUNT(v.DaId) AS vote_count FROM foa_da AS d INNER JOIN foa_voting_system AS v ON d.DaId = v.DaId GROUP BY d.DaId, d.Titel, d.Schueler;");
        FoA_DA result;
        //Schleife für jede DA in Db, pro durchgang wird
        foreach (DataRow row in da.Rows)
        {
            result = new FoA_DA((int)row[0], (string)row[1], (string)row[2]);
            int count = Convert.ToInt32(row[3]);
            voting.Add((result, count));
        }
    }

    //private byte[] CreateExcelFile()
    // {
    //     XLWorkbook? workbook = new XLWorkbook();

    //     voting = voting
    //         .OrderByDescending(v => v.count)
    //         .ToList();

    //     // Referenz: https://www.youtube.com/watch?v=3DIKSjQMc5U
    //     try
    //     {
    //         IXLWorksheet worksheet = workbook.Worksheets.Add("FoA_Ergebnisse");
    //         worksheet.Cell("A1").Value = "Nr";
    //         worksheet.Cell("B1").Value = "Titel";
    //         worksheet.Cell("C1").Value = "Schüler";
    //         worksheet.Cell("D1").Value = "Count";

    //         int nr = 2; 
    //         foreach((FoA_DA, int) v in voting)
    //         {
    //             worksheet.Row(nr).Cell("A").Value = v.Item1.ID;
    //             worksheet.Row(nr).Cell("B").Value = v.Item1.Titel;
    //             worksheet.Row(nr).Cell("C").Value = v.Item1.Schueler;
    //             worksheet.Row(nr).Cell("D").Value = v.Item2;
    //             nr++; 
    //         }

    //         IXLRange? range = worksheet.Range($"A1:D{voting.Count+1}"); 
    //         IXLTable table = range.CreateTable(); 
    //         table.Theme = XLTableTheme.TableStyleLight10; 

    //         worksheet.Cell($"A{voting.Count + 1}").Value = "Total Votes: ";
    //         worksheet.Cell($"D{voting.Count + 1}").FormulaA1 = $"SUM(D2:D{voting.Count + 1})"; 

    //         worksheet.Row(voting.Count + 1).Style.Font.Bold = true; 
    //         string filename = $"{DateTime.Today.Year}_Ergebnisse_FriendsOfAward.xlsx"; 
    //         workbook.SaveAs(filename); 

    //         new Program().Export()
    //         return true; 
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine(ex);
    //         return false;   
    //     }
    // }

    // private void Btn_Download()
    // {
    //     isWorking = CreateExcelFile(); 
    // }
}