#blur-ball {
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    height: 500px;
    width: 500px;
    background: #1264ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(130px);
}

#wrapper {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121314;
}

#content {
    z-index: 10;
    color: white;
    margin: auto;
    max-width: 600px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    background: #212325;
    border: 1px solid #ffffff1c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

#title {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: "Geist", sans-serif;
    font-weight: bold;
}

#note {
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

#grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid-btn {
    width: 100%;
    height: 40px;
    background: #2c2e31;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    outline: 1px solid transparent;
}

    .grid-btn:hover {
        transform: scale(1.02);
        outline: 1px solid rgb(255 255 255 / 20%);
    }

    .grid-btn.favorite {
        background: green;
    }

    .grid-btn.topfavorite {
        background: gold;
    }

#select-btn-container {
    display: flex;
    gap: 0.4rem;
}

.select-btn {
    padding: 10px;
    border-radius: 25px;
    color: white;
    background: #2c2e31;
    font-family: "Geist", sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    transition-duration: 0.2s;
}

    .select-btn:hover {
        background: #116ecd;
        transform: scale(1.035);
    }

    .select-btn:active {
        transform: scale(1);
    }

    .select-btn.highlight {
        background: #116ecd;
    }

#submit-btn {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-family: "Geist", sans-serif;
    font-size: 1.1rem;
    background: #116ecd;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

    #submit-btn:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(120deg,rgba(255, 18, 18, 0) 0%, rgba(179, 244, 255, 0.1) 50%, rgba(255, 18, 18, 0) 100%);
        top: 0;
        left: -100px;
    }

    #submit-btn:hover {
        transform: scale(1.01);
    }

    #submit-btn:hover::before {
        animation: shine 3s ease-in-out;
    }

    #submit-btn:active {
        transform: scale(1);
    }

@keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

@media (max-width: 480px) {
    #wrapper {
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
    }
    #content {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0;
        background: transparent;
    }
    #blur-ball {
        opacity: 20%;
    }
}

/*admin login button*/
.admin-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: none;
    border: none;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 80%;
    cursor: pointer;
}

    .admin-btn > svg {
        fill: white;
    }