#blur-container {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.blur-ball {
    position: absolute;
    border-radius: 100%;
    height: 500px;
    width: 500px;
}

.b1 {
    background: #1264ff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b2 {
    background: #beff00;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

#wrapper {
    z-index: 10;
    backdrop-filter: blur(150px);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(237 241 245 / 50%);
}

#content {
    margin: auto;
    max-width: 600px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    border-radius: 32px;
    background: rgba(255 255 255 / 50%);
    border: 1px solid rgb(229 230 239 / 60%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: GeneralSans-Bold;
}

#grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid-btn {
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    outline: 1px solid transparent;
}


    .grid-btn:hover {
        transform: scale(1.03);
        outline: 1px solid rgb(24 63 124 / 50%);
        /*        box-shadow: 0 0 10px rgba(0 0 0 / 10%);*/
    }

/* BTN SHINE
    .grid-btn {
    position: relative;
    overflow: hidden;
}
    .grid-btn:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(120deg,rgba(255, 18, 18, 0) 0%, rgba(255, 212, 82, 0.4) 50%, rgba(255, 18, 18, 0) 100%);
        top: 0;
        left: -100px;
    }
    .grid-btn:hover::before {
        animation: shine 2s ease-in-out;
    }
    @keyframes shine {
        0% {
            left: -100px
        }

        20% {
            left: 100%
        }

        100% {
            left: 100%
        }
    }
*/

#submit-btn {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-family: GeneralSans-Medium;
    font-size: 1.1rem;
    background: rgb(24 63 124);
    border: none;
    outline: none;
} 