#blur-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.blur-ball {
    position: absolute;
    border-radius: 100%;
    height: 500px;
    width: 500px;
}

.b1 {
    background: #0c0cff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b2 {
    background: #ff00e9;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

#wrapper {
    z-index: 10;
    backdrop-filter: blur(150px);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(237 241 245 / 50%);
}

#content {
    margin: auto;
    max-width: 600px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    border-radius: 32px;
    background: rgba(255 255 255 / 50%);
    border: 1px solid rgb(229 230 239 / 60%);
}