@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div id="blur-container">
	<div class="blur-ball b1"></div>
	<div class="blur-ball b2"></div>
</div>
<div id="wrapper">
	<main id="content">
		<h1>Friends of Award</h1>
		<p>TODO HERE NEXT</p>
		<div id="grid">
			@for (int i = 0; i < 20; i++)
			{
				<div class="grid-btn">@i</div>
			}
		</div>
		<button id="submit-btn">Bewertung absenden</button>
	</main>
</div>
