.input-container {
    display: grid;
    gap: 5px;
}

/* Basis-Label */
.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
    transition: color 0.3s ease;
}

.errorMessage {
        color: #d32f2f; /* kräftiges Rot */
        font-weight: 600;
        background: #fdecea; /* hellroter Hintergrund */
        padding: 12px 16px;
        border-radius: 6px;
        position: relative; /* wichtig für ::after */
        margin: 30px 0;
        margin-left: 30px;

}
/* Box mit ::after */
.errorMessage::after {
            content: ""; /* erzeugt das Pseudoelement */
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            border: 2px solid #d32f2f; /* rote Umrandung */
            border-radius: 8px;
            pointer-events: none; /* klickt nicht mit */
        }