@page "/Login"
@using FriendsOfAward.Components.Layout
@using Microsoft.AspNetCore.WebUtilities
@rendermode InteractiveServer
@inject CustomAuthStateProvider MyAuthProvider
@inject NavigationManager MyNavMgr
@layout UserLayout

<PageTitle>Login</PageTitle>

<div class="content-center wrapper">
	<form class="ui-card" @onsubmit="HandleLogin">
		<h1>Login</h1>
		<input class="ui-input" name="username" @bind="username" placeholder="Benutzername" />
		<input class="ui-input" name="password" @bind="password" placeholder="Passwort" type="password" />
		<button class="ui-btn primary" type="submit">Login</button>
		<p style="color: red">@message</p>
	</form>
</div>

@code {
	string username = "";
	string password = "";
	string message = "";
	string returnUrl = "/Teilnehmer";

	protected override void OnInitialized()
	{
		var uri = new Uri(MyNavMgr.Uri);
		var query = QueryHelpers.ParseQuery(uri.Query);
		if (query.TryGetValue("returnUrl", out var rv))
		{
			try
			{
				returnUrl = Uri.UnescapeDataString(rv);
			}
			catch
			{
				returnUrl = rv;
			}
		}
	}

	async Task HandleLogin()
	{
		if (IsValidUser(username, password))
		{
			await MyAuthProvider.Login(username);

			MyNavMgr.NavigateTo(returnUrl);
		}
		else
		{
			message = "Login fehlgeschlagen.";
		}
	}

	bool IsValidUser(string username, string password)
	{
		return DA.IsValidUser(username, password);
	}
}
