@using FriendsOfAward.Components.UI.Theme
@using FriendsOfAward.Components.Auth;
@using FriendsOfAward
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inherits LayoutComponentBase

<div class="app-container">
    <MobileSidebar />
    <div class="content">
        @Body
    </div>
</div>
