.app-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    background: var(--sidebar);
    overflow: hidden;
}

.sidebar {
    width: 14rem;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.content {
    flex: 1;
    padding: 0.5rem;
    overflow-y: auto;
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
