.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main{
    felx:1;
}

.sidebar {
    background-color: #f8f9fa;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Sidebar links */
.sidebar-container {
    width: 220px;
    background: linear-gradient(to bottom, rgb(5,72,72), rgb(94,162,232));
    color: white;
    flex-shrink: 0;
}

/* Inhalt rechts */
.content-container {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}