.app-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    background: var(--sidebar);
    overflow: hidden;
}

.content {
    flex: 1;
    padding: 0.5rem;
    overflow-y: auto;
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
        padding: 0;
    }

    .content {
        border-radius: 0;
        box-shadow: none;
    }
}
