<nav class="sidebar">

    <div class="sidebar-header">
        <h3>Friends of Award</h3>
        <p>Admin: Max Mustermann</p>
    </div>

    <ul class="nav-list">
        <li>
            <NavLink href="/Teilnehmer" class="nav-link" activeClass="active">
                <!-- Icon kannst du hier einfügen -->
                <span>Teilnehmer</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/Diplomarbeiten" class="nav-link" activeClass="active">
                <span>Diplomarbeiten</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/Ergebnisse" class="nav-link" activeClass="active">
                <span>Ergebnisse</span>
            </NavLink>
        </li>
    </ul>
    <!-- Reset-Button unten -->
    <div class="reset-container">
        <button class="reset-btn" @onclick="ResetApp">Reset</button>
    </div>

</nav>

@code {
    private bool isCollapsed = false;

    private void ToggleMenu()
    {
        isCollapsed = !isCollapsed;
    }

    private void ResetApp()
    {
        //Reset FriendsofAward
    }

 
}