.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-box {
    width: 420px;
    color: white;
    background: #2c2e31;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    animation: fadeIn 0.2s ease-out;
}

.modal-header.warning {
    background: #1264ff;
    color: white;
    padding: 16px;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

.modal-body {
    padding: 20px;
    font-size: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 16px;
}

.btn-yes {
    background: #116ecd;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-no {
    background: #3c3c3c;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-yes:hover {
    transform: scale(1.02);
    outline: 1px solid rgb(255 255 255 / 20%);
}

.btn-no:hover {
    transform: scale(1.02);
    outline: 1px solid rgb(255 255 255 / 20%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
